.DS_Store
*.o
*.ko
*.so
*.swp
*.o.cmd
*.mod.*
*.out
*.err
*.cmd
*~
bin/
kernel
*.o.ur-safe
*.gen
.deps/
.dirstamp
cscope.files
Makefile
/autom4te.cache/
/config.h
/config.log
/config.status
/examples/Makefile
/examples/BlackScholes/BlackScholes
/examples/backprop/backprop
/examples/hotspot/hotspot
/examples/common/Makefile
/examples/common/libutil.a
/library/src/Makefile
/library/src/libdragon.a
/kernel_nvidia/.cache.mk
/kernel_nvidia/.tmp_versions/
/kernel_nvidia/Module.symvers
/kernel_nvidia/conftest/
/kernel_nvidia/conftest*.c
/kernel_nvidia/modules.order
/kernel_nvidia/nv_compiler.h
/stamp-h1
/tests/sanity-basic/Makefile
/tests/sanity-basic/readtest
/tests/sanity-basic/writetest
