.DS_Store
.*.o.d
*.o
*.ko
*.so
*.swp
*.o.cmd
*.mod
*.mod.*
*.out
*.err
*.cmd
*~
.idea
venv
__pycache__
bin/
kernel
*.o.ur-safe
*.gen
.deps/
.dirstamp
cscope.files
Makefile
/autom4te.cache/
/config.h
/config.log
/config.status
/benchmarks/micro/mb_advise
/benchmarks/micro/mb_relay
/benchmarks/micro/mb_matrixmul
/benchmarks/micro/mb_stream
/benchmarks/micro/mb_vectoradd
/examples/Makefile
/examples/BlackScholes/BlackScholes
/examples/backprop/backprop
/examples/binomialOptions/binomialOptions
/examples/hotspot/hotspot
/examples/lavaMD/lavaMD
/examples/pathfinder/pathfinder
/examples/srad_v2/srad
/examples/vectorAdd/vectorAdd
/examples/common/Makefile
/examples/common/libutil.a
/library/Makefile
/library/libuxu.a
/kernel_nvidia/.cache.mk
/kernel_nvidia/.tmp_versions/
/kernel_nvidia/Module.symvers
/kernel_nvidia/conftest/
/kernel_nvidia/conftest*.c
/kernel_nvidia/modules.order
/kernel_nvidia/nv_compiler.h
/kernel_nvidia.450.80.2/conftest/
/kernel_nvidia.450.80.2/conftest*.c
/kernel_nvidia.450.80.2/Module.symvers
/kernel_nvidia.450.80.2/modules.order
/kernel_nvidia.450.80.2/modules.order
/kernel_nvidia.450.80.2/nv_compiler.h
/stamp-h1
/tests/sanity-basic/Makefile
/tests/sanity-basic/readtest
/tests/sanity-basic/writetest
/tests/unit-test/ut-*
/tests/unit-test/*.log
/tests/unit-test/*.trs
/tests/unit-test/site.bak
/tests/unit-test/site.exp
/tests/unit-test/test-suite.log
/tests/unit-test/uxu.log
/tests/unit-test/uxu.sum
/tools/kmsglog/kmsglog
/tools/plot/*.png
/tools/plot/output*.txt
