.DS_Store
*.o
*.ko
*.so
*.swp
*.o.cmd
*.mod.*
*.out
*.err
*.cmd
*~
bin/
kernel
*.o.ur-safe
*.gen
.deps/
.dirstamp
cscope.files
Makefile
/autom4te.cache/
/config.h
/config.log
/config.status
/examples/Makefile
/examples/BlackScholes/BlackScholes
/examples/backprop/backprop
/examples/binomialOptions/binomialOptions
/examples/hotspot/hotspot
/examples/lavaMD/lavaMD
/examples/pathfinder/pathfinder
/examples/srad_v2/srad
/examples/vectorAdd/vectorAdd
/examples/common/Makefile
/examples/common/libutil.a
/library/Makefile
/library/libuxu.a
/kernel_nvidia/.cache.mk
/kernel_nvidia/.tmp_versions/
/kernel_nvidia/Module.symvers
/kernel_nvidia/conftest/
/kernel_nvidia/conftest*.c
/kernel_nvidia/modules.order
/kernel_nvidia/nv_compiler.h
/stamp-h1
/tests/sanity-basic/Makefile
/tests/sanity-basic/readtest
/tests/sanity-basic/writetest
/tests/unit-test/basictest
/tests/unit-test/basictest.log
/tests/unit-test/basictest.trs
/tests/unit-test/site.bak
/tests/unit-test/site.exp
/tests/unit-test/test-suite.log
/tests/unit-test/uxu.log
/tests/unit-test/uxu.sum
